/*estilos generales*/
body {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/*estilos del boton*/
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

/*contenedor con flexbox*/
.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/*estilos de cajas*/
.caja {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.caja2 {
    width: 100px;
    height: 100px;
    background-color: orangered;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.caja3 {
    width: 100px;
    height: 100px;
    background-color: green;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s;
}


/*animacion al pasar el mouse*/
.caja:hover {
    transform: scale(1.1);
}

/*modo oscuro*/
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .caja {
    background-color: gray;
}